@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
    font-family: Montserrat;
}

html {
    scroll-behavior: smooth;
}